*{
    margin:0px;
    padding:0px;
}
body{
    background-color: rgb(111, 71, 102);
    text-align: center;
}
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.75vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(199, 160, 18, 0.6);
    font-size: 7vmin;
    color: rgb(152, 16, 45);
    background-color: bisque;
}

#reset {
    padding:0.6rem;
    font-size: 1rem;
    background-color: rgb(31, 14, 14);
    color:blanchedalmond;

}